{% macro contactbtn(title, link, image) %}
	<div class="contact-btn pure-u-1 pure-u-sm-1-2 pure-u-md-1-3">
		<a href="{{ link }}"><img src="{{ image }}"></a>
		<p><a href="{{ link }}">{{ title }}</a></p>
	</div>
{% endmacro %}

<section class="page-section">
	<div class="inner-wrapper pure-g">
		<h1>{{ contactstitle }}</h1>
		{{ contactbtn('Reo_SP', 'skype:Reo_SP?add', 'img/icon/skype.png') }}
		{{ contactbtn('Reo_SP', 'https://telegram.me/Reo_SP', 'img/icon/telegram.png') }}
		{{ contactbtn('&#097;&#064;&#114;&#101;&#111;&#055;&#115;&#112;&#046;&#114;&#117;', '&#109;&#097;&#105;&#108;&#116;&#111;:&#097;&#064;&#114;&#101;&#111;&#055;&#115;&#112;&#046;&#114;&#117;', 'img/icon/mail.png') }}
	</div>
</section>
