<section class="page-section" id="pagefooter">
	<div class="inner-wrapper">
		<br>
		<p>Да, тут раньше было значительно больше всякого контента в отличие от того, что вы видите сейчас. Просто я уже не вижу особого практического смысла в тех красивых картинках и прикольных текстов (если можно так сказать), которые тут были.</p>
		<p>Но не огорчайтесь из-за того, что увидели только пару ссылочек на всякие телеграммы и почты и всё. Всегда можно потыкать, например, <a href="https://github.com/reo7sp">гитхаб</a> и даже лайнуть там что-то интересное. Когда-то, когда у меня будет адекватное количество свободного времени, тут станет уже не так пусто :)</p>
		<br>
		<p>{{ introimgnotice }}</p>
	</div>
</section>
