@import "npm://purecss/build/base-min"

@import "container"
@import "section-with-margin"
@import "contacts-links"
@import "giraffe-background"
@import "education"
@import "work"

html
  height: 100%

body
  min-height: 100%
  display: flex
  flex-direction: column

a
  color: #0093d2
  text-decoration: none

  &:hover
    color: #0067a8
    text-decoration: underline

.visible-md
  display: none

  @media (max-width: 992px)
    display: block

.gray
  color: gray
