.work-item
  line-height: 1.8em

  &__title
    display: inline-block
    font-weight: bold

  &__description
    margin-left: 24px

    @media (min-width: 992px)
      text-shadow: 0 0 6px white, 0 0 6px white, 0 0 6px white

  &__links
    margin-left: 12px
    display: table

  &__link
    margin-left: 12px
    cursor: pointer

  &__stat
    margin-left: 12px

  &__info-labels
    display: inline-block
    margin-left: 6px

  &__info-label
    display: inline-block
    margin-left: 4px
    line-height: 1em
    color: #222
    background-color: white
    border: 1px solid #ccc
    border-radius: 3px
    padding: 3px 9px

    &_employment
      color: #bf4040
    &_science
      color: #9d65ff
    &_oss
      color: #ffbb79
    &_unity
      color: #00b37d
    &_cocos
      color: #0062b3
    &_steam
      color: #669900
    &_coffee
      color: #52439d
    &_yeoman
      color: #ae6832
    &_gulp
      color: #c81e32
    &_python
      color: #3c89c3
    &_site
      color: #9d65ff
    &_webapp
      color: #9d65ff
    &_android
      color: #39b135
    &_scala
      color: #dd0000
    &_java
      color: #f55e00
    &_ruby
      color: #ff1a1a
    &_rails
      color: #dd0000
    &_cpp
      color: #0054a0
    &_telegram
      color: #0093d6
    &_bash
      color: #32ae4f
    &_dokku
      color: #00d2d2
    &_docker
      color: #009dc9
    &_opengl
      color: #4e83a0
    &_libgdx
      color: #f52626
    &_minecraft
      color: #873f12
    &_vim
      color: #00a94c
