{# Header & Footer #}
{% set langCode = "en" %}
{% set pageDesc = "I'm keen on Data science, Game development and Web" %}
{% set oleg = "Oleg" %}
{% set morozenkov = "Morozenkov" %}
{% set giraffeNotice = "Open this page on desktop to see giraffe with cool parallax effect" %}

{# Education #}
{% set education = "Education" %}
{% set bauman = "Bauman Moscow State Technical University" %}
{% set baumanSpec = "2016–2020, Bachelor of Engineering" %}
{% set technopark = "Technopark Mail.Ru" %}
{% set technoparkSpec = "2017–2018, Software Architect" %}

{# Additional courses #}
{% set additionalCourses = "Additional courses" %}
{% set introToMl = "Introduction to machine learning" %}
{% set introToMlSpec = "University Higher School of Economics" %}
{% set courseraCertificate = "Coursera certificate" %}

{# Portfolio #}
{% set voiceToVector = "Voice to vector" %}
{% set voiceToVectorDesc = "Making voices comparable" %}
{% set face3dMatch = "Face3dMatch" %}
{% set face3dMatchDesc = "Sign in via a 3d model of the face" %}
{% set gotohack2 = "GoToHack2 + MTS" %}
{% set gotohack2Desc = "Case by MTS company: prediction of post popularity in VK group of TalentEdme project" %}
{% set movieRecommend = "Movie recommender system" %}
{% set movieRecommendDesc = "Test task for GoTo Machine Learning school in summer 2016" %}
{% set raycord = "Raycord Legends" %}
{% set raycordDesc = "Rayman Legends and My Little Pony crossover game. Features cool graphics" %}
{% set mars2000 = "MARS 2000" %}
{% set mars2000Desc = "Top-down oldschool shooter" %}
{% set letsNukeThem = "Let's nuke them" %}
{% set letsNukeThemDesc = "Strategy game" %}
{% set kaniku = "Kaniku" %}
{% set kanikuDesc = "MVC microframework for cocos2d-x javascript games" %}
{% set atkGloria = "ATK Gloria" %}
{% set atkGloriaDesc = "Website of travel company in Nizhny Novgorod" %}
{% set thylogale = "Thylogale" %}
{% set thylogaleDesc = "Content management system for static sites" %}
{% set tgbotCpp = "tgbot-cpp" %}
{% set tgbotCppDesc = "C++ library for Telegram bot API" %}
{% set vkChannelify = "VK Channelify" %}
{% set vkChannelifyDesc = "Repost posts from VK group to Telegram channel" %}

{# Portfolio controls #}
{% set myPortfolio = "My portfolio" %}
{% set dataScience = "Data Science" %}
{% set gamedev = "Gamedev" %}
{% set web = "Web" %}
{% set misc = "Misc" %}
{% set goToGamedev = "go to gamedev" %}
{% set goToWeb = "go to web" %}
{% set github = "GitHub" %}
{% set slideshare = "SlideShare" %}
{% set neuralNetworks = "neural networks" %}
{% set voiceProcessing = "voice processing" %}
{% set python = "python" %}
{% set theano = "theano" %}
{% set lasagne = "lasagne" %}
{% set computerVision = "computer vision" %}
{% set dreconstruction = "3d reconstruction" %}
{% set scala = "scala" %}
{% set android = "android" %}
{% set hackathon = "hackathon" %}
{% set naturalTextProcessing = "natural text processing" %}
{% set vkApi = "vk api" %}
{% set winnerCertificate = "Winner certificate" %}
{% set recommenderSystem = "recommender system" %}
{% set worked = "worked" %}
{% set workingSince = "working since" %}
{% set game = "game" %}
{% set unity3d = "unity3d" %}
{% set uframe = "uframe" %}
{% set spine = "spine" %}
{% set youTube = "YouTube" %}
{% set freelance = "freelance" %}
{% set steamGreenlight = "steam greenlight" %}
{% set vk = "VK" %}
{% set inDev = "in development" %}
{% set cocos2d = "cocos2d-x" %}
{% set coffeescript = "coffeescript" %}
{% set framework = "framework" %}
{% set npm = "npm" %}
{% set starterKit = "Starter kit" %}
{% set website = "website" %}
{% set ruby = "ruby" %}
{% set rails = "rails" %}
{% set webApp = "web app" %}
{% set library = "library" %}
{% set cpp = "c++" %}
{% set boost = "boost" %}
{% set boostAsio = "boost asio" %}
{% set telegramApi = "telegram api" %}
{% set bot = "bot" %}
{% set seeGitHub = "See my open source projects on GitHub" %}
{% set byLang = "By language" %}
{% set up = "up" %}
