{# Header & Footer #}
{% set langCode = "ru" %}
{% set pageDesc = "Шарю в Анализе данных, Геймдеве и Вебе" %}
{% set oleg = "Олег" %}
{% set morozenkov = "Морозенков" %}
{% set giraffeNotice = "С компьютера жирафик будет с параллаксом" %}
{% set giraffeHi = "Приветик" %}

{# Contacts #}
{% set githubContact = "Гитхаб" %}
{% set telegramContact = "Телеграм" %}
{% set skypeContact = "Скайп" %}
{% set vkContact = "ВК" %}
{% set linkedinContact = "ЛинкедИн" %}

{# Education #}
{% set education = "Образование" %}
{% set bauman = "МГТУ им. Н.Э. Баумана" %}
{% set baumanSpec = "2016–2020, Машиностроительные технологии" %}
{% set technopark = "Технопарк Mail.Ru" %}
{% set technoparkSpec = "2017–2018, Системный архитектор" %}

{# Additional courses #}
{% set additionalCourses = "Дополнительные курсы" %}
{% set introToMl = "Введение в машинное обучение" %}
{% set introToMlSpec = "НИУ ВШЭ" %}
{% set courseraCertificate = "Сертификат Курсеры" %}

{# Portfolio #}
{% set voiceToVector = "Voice to vector" %}
{% set voiceToVectorDesc = "Сравнивает голоса" %}
{% set face3dMatch = "Face3dMatch" %}
{% set face3dMatchDesc = "Авторизирует по 3d модели лица" %}
{% set gotohack2 = "GoToHack2 + MTS" %}
{% set gotohack2Desc = "Кейс от МТС: предсказывание лайков, репостов и лайков от репостов в группе TalentEdme" %}
{% set movieRecommend = "Movie recommender system" %}
{% set movieRecommendDesc = "Отборочное задание на школу по машинному обучению GoTo" %}
{% set raycord = "Raycord Legends" %}
{% set raycordDesc = "MLP-пародия на игру от компании Ubisoft – Rayman Legends" %}
{% set mars2000 = "MARS 2000" %}
{% set mars2000Desc = "Олдскульный top-down шутер" %}
{% set letsNukeThem = "Let's nuke them" %}
{% set letsNukeThemDesc = "Игра-стратегия" %}
{% set kaniku = "Kaniku" %}
{% set kanikuDesc = "MVC микрофреймворк для javascript игр на cocos2d-x" %}
{% set atkGloria = "АТК Глория" %}
{% set atkGloriaDesc = "Сайт нижегородской туристической компании" %}
{% set thylogale = "Thylogale" %}
{% set thylogaleDesc = "CMS для статических сайтов" %}
{% set tgbotCpp = "tgbot-cpp" %}
{% set tgbotCppDesc = "C++ библиотека для Telegram bot API" %}
{% set vkChannelify = "VK Channelify" %}
{% set vkChannelifyDesc = "Пересылает новости из группы ВК в Телеграмм канал" %}
{% set recast = "Recast" %}
{% set recastDesc = "ММОРПГ игра, где игрок сам моделирует заклинания" %}

{# Portfolio controls #}
{% set myPortfolio = "Портфолио" %}
{% set dataScience = "Анализ данных" %}
{% set gamedev = "Геймдев" %}
{% set web = "Веб" %}
{% set misc = "Misc" %}
{% set goToGamedev = "к геймдеву" %}
{% set goToWeb = "к вебу" %}
{% set github = "Гитхаб" %}
{% set slideshare = "Презентация" %}
{% set neuralNetworks = "нейросети" %}
{% set voiceProcessing = "обработка голоса" %}
{% set python = "python" %}
{% set theano = "theano" %}
{% set lasagne = "lasagne" %}
{% set computerVision = "компьтерное зрение" %}
{% set dreconstruction = "3d reconstruction" %}
{% set scala = "scala" %}
{% set android = "android" %}
{% set hackathon = "хакатон" %}
{% set naturalTextProcessing = "обработка текстов" %}
{% set vkApi = "vk api" %}
{% set winnerCertificate = "Сертификат победителя" %}
{% set recommenderSystem = "рекомендательная система" %}
{% set worked = "занимался" %}
{% set workingSince = "занимаюсь с" %}
{% set game = "игра" %}
{% set unity3d = "unity3d" %}
{% set uframe = "uframe" %}
{% set spine = "spine" %}
{% set youTube = "Ютюб" %}
{% set freelance = "фриланс" %}
{% set steamGreenlight = "steam greenlight" %}
{% set vk = "ВК" %}
{% set inDev = "в разработке" %}
{% set cocos2d = "cocos2d-x" %}
{% set coffeescript = "coffeescript" %}
{% set framework = "фреймворк" %}
{% set npm = "npm" %}
{% set starterKit = "Starter kit" %}
{% set website = "сайт" %}
{% set ruby = "ruby" %}
{% set rails = "rails" %}
{% set webApp = "веб-приложение" %}
{% set library = "библиотека" %}
{% set cpp = "c++" %}
{% set boost = "boost" %}
{% set boostAsio = "boost asio" %}
{% set telegramApi = "telegram api" %}
{% set bot = "бот" %}
{% set serverGithub = "Гитхаб сервера" %}
{% set client = "Клиент" %}
{% set seeGitHub = "Посмотреть опенсорс на Гитхабе" %}
{% set byLang = "По языкам" %}
{% set up = "наверх" %}
