<ul class="contacts-links">
  <li class="contacts-links__item contacts-links__item--github">
    <img class="contacts-links__icon" src="images/icons/github.png" alt="GitHub">
    <a class="contacts-links__link contacts-links__link--github" target="_blank" href="https://github.com/reo7sp">{{ i18n.githubContact }}</a>
  </li>
  <li class="contacts-links__item">
    <img class="contacts-links__icon" src="images/icons/telegram.png" alt="Telegram">
    <a class="contacts-links__link" target="_blank" href="https://t.me/reo7sp">{{ i18n.telegramContact }}</a>
  </li>
  <li class="contacts-links__item">
    <img class="contacts-links__icon" src="images/icons/skype.png" alt="Skype">
    <a class="contacts-links__link" target="_blank" href="skype:reo_sp?add">{{ i18n.skypeContact }}</a>
  </li>
  <li class="contacts-links__item">
    <img class="contacts-links__icon" src="images/icons/vk.png" alt="VK">
    <a class="contacts-links__link" target="_blank" href="https://vk.com/reo7sp">{{ i18n.vkContact }}</a>
  </li>
  <li class="contacts-links__item">
    <img class="contacts-links__icon" src="images/icons/linkedin.png" alt="LinkedIn">
    <a class="contacts-links__link" target="_blank" href="https://www.linkedin.com/in/reo7sp">{{ i18n.linkedinContact }}</a>
  </li>
  <li class="contacts-links__item">
    <img class="contacts-links__icon" src="images/icons/mail.png" alt="Email">
    <a class="contacts-links__link" target="_blank" href="&#109;&#097;&#105;&#108;&#116;&#111;:&#109;&#064;&#111;&#108;&#101;&#103;&#046;&#114;&#111;&#099;&#107;&#115;">&#109;&#064;&#111;&#108;&#101;&#103;&#046;&#114;&#111;&#099;&#107;&#115;</a>
  </li>
</ul>
