<ul class="contacts-links">
  <li class="contacts-links__item">
    <img class="contacts-links__icon" src="images/icons/github.png" alt="GitHub">
    <a class="contacts-links__link" target="_blank" href="https://github.com/reo7sp">GitHub</a>
  </li>
  <li class="contacts-links__item">
    <img class="contacts-links__icon" src="images/icons/telegram.png" alt="Telegram">
    <a class="contacts-links__link" target="_blank" href="https://telegram.me/reo7sp">Telegram</a>
  </li>
  <li class="contacts-links__item">
    <img class="contacts-links__icon" src="images/icons/skype.png" alt="Skype">
    <a class="contacts-links__link" target="_blank" href="skype:reo_sp?add">Skype</a>
  </li>
  <li class="contacts-links__item">
    <img class="contacts-links__icon" src="images/icons/mail.png" alt="Email">
    <a class="contacts-links__link" target="_blank" href="&#109;&#097;&#105;&#108;&#116;&#111;:&#097;&#064;&#114;&#101;&#111;&#055;&#115;&#112;&#046;&#114;&#117;">&#097;&#064;&#114;&#101;&#111;&#055;&#115;&#112;&#046;&#114;&#117;</a>
  </li>
</ul>
