<h2>Education</h2>

<ul>
  <li class="education-item">
    <p class="education-item__text">2016–2020: <strong>Bauman Moscow State Technical University</strong></p>
  </li>
  <li class="education-item">
    <p class="education-item__text">2017–2018: <strong>Technopark Mail.Ru</strong></p>
  </li>
</ul>

<h2>Additional courses</h2>
<ul>
  <li class="education-item">
    <p class="education-item__text"><strong>Introduction to machine learning</strong> from the University Higher School of Economics on Coursera</p>
    <p><a href="https://www.coursera.org/account/accomplishments/verify/NANEYSFHTVTZ" target="_blank">Coursera course certificate</a></p>
  </li>
</ul>
