<h2>{{ i18n.employment }}</h2>

<ul class="employment-list">
  <li class="employment-item">
    <div class="employment-item__header">
      <img class="employment-item__logo" src="images/employment/kts.png">
      <p class="employment-item__title">
        <strong>{{ i18n.kts }}</strong>
        <a class="employment-item__link" href="http://ktsstudio.ru">{{ i18n.site }}</a>
      </p>
    </div>
    <p class="employment-item__text">Junior Data Scientist</p>
    <p class="employment-item__text">{{ i18n.july }} 2017 – {{ i18n.now }}</p>
  </li>
</ul>
