{% macro item(title, labels, labelsClass, description, link, linkTitle, secondLink, secondLinkTitle, thirdLink, thirdLinkTitle, githubStarCount) %}
  <li class="work__list-elem work-item">
    <div class="work-item__title">{{ title }}</div>
    <div class="work-item__info-labels">
      {%- for i in range(0, labels | length) -%}
        <div class="work-item__info-label work-item__info-label_{{ labelsClass[i] }}">{{ labels[i] }}</div>
      {%- endfor -%}
    </div>
    {% if description %}
      <div class="work-item__description">{{ description }}</div>
    {% endif %}
    <div class="work-item__links">
      {% if link %}
        <a class="work-item__link" target="_blank" href="{{ link }}">{{ linkTitle }}</a>
      {% endif %}
      {% if secondLink %}
        <a class="work-item__link" target="_blank" href="{{ secondLink }}">{{ secondLinkTitle }}</a>
      {% endif %}
      {% if thirdLink %}
        <a class="work-item__link" target="_blank" href="{{ thirdLink }}">{{ thirdLinkTitle }}</a>
      {% endif %}
      {% if githubStarCount %}
      <span class="work-item__stat">
        <svg aria-label="stars" height="18" role="img" version="1.1" viewBox="0 -4 14 18" width="14"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path></svg>{{ githubStarCount }}+
      </span>
      {% endif %}
    </div>
  </li>
{% endmacro %}


<h2>My work</h2>

<h3>Science</h3>
<ul class="work">
  {{ item(
      'Voice to vector',
      ['neural networks', 'open source', 'python', 'theano', 'lasagne'],
      ['science', 'oss', 'python', 'python', 'python'],
      'Transforms voices to vectors so you can compare them',
      'https://github.com/xenx/speech',
      'GitHub',
      'http://www.slideshare.net/OlegMorozenkov/speechlock-voice-to-vector-voice-similarity',
      'SlideShare'
  ) }}

  {{ item(
      'Face3dMatch',
      ['computer vision', 'open source', 'android', 'scala'],
      ['science', 'oss', 'android', 'scala'],
      'Android app which authorizes user using 3d model of the face',
      'https://github.com/reo7sp/Face3dMatch',
      'GitHub'
  ) }}

  {{ item(
      'GoToHack2\'s project',
      ['hackathon', 'natural text processing', 'open source', 'python', 'lda'],
      ['employment', 'science', 'oss', 'python', 'science'],
      'We worked on case by MTS company: prediction of post popularity in VK group of TalentEdme project',
      'http://www.slideshare.net/OlegMorozenkov/gotohack2-data-science-hackathon',
      'SlideShare',
      'https://github.com/reo7sp/GoToHack2',
      'GitHub',
      'images/certificates/gotohack2.jpg',
      'Winner certificate'
  ) }}

  {{ item(
      'WaveFourierTransformTest',
      ['physics', 'open source', 'scala'],
      ['science', 'oss', 'scala'],
      'Researching fourier transform of a wave moving in time',
      'https://github.com/reo7sp/FourierTransformTest',
      'GitHub'
  ) }}

  {{ item(
      'WaveTest',
      ['physics', 'open source', 'scala'],
      ['science', 'oss', 'scala'],
      'Researching a bunch of monochromatic waves moving in time',
      'https://github.com/reo7sp/WaveTest',
      'GitHub'
  ) }}

  {{ item(
      'MagneticTest',
      ['physics', 'open source', 'c', 'opengl'],
      ['science', 'oss', 'cpp', 'opengl'],
      'Researching magnetic field',
      'https://github.com/reo7sp/MagneticTest',
      'GitHub'
  ) }}

  {{ item(
      'GoTo ML summer 2016 test task',
      ['open source', 'recommendation system', 'python', 'svd'],
      ['oss', 'science', 'python', 'science'],
      'Test task for GoTo Machine Learning school in summer 2016',
      'https://github.com/reo7sp/GoToS2016-TestTask',
      'GitHub'
  ) }}

  {{ item(
      'GoToHack test task',
      ['open source', 'scala'],
      ['oss', 'scala'],
      'Test task for GoToHack BigData hackathon',
      'https://github.com/reo7sp/GoToHack-TestTask',
      'GitHub'
  ) }}

  {{ item(
      'GoToHack2 test task',
      ['open source', 'python', 'kaggle'],
      ['oss', 'python', 'employment'],
      'Test task for GoToHack2 Data Science hackathon',
      'https://github.com/reo7sp/GoToHack2-TestTask',
      'GitHub'
  ) }}
</ul>

<h3>Game development</h3>
<ul class="work">
  {{ item(
      'Raycord Legends',
      ['worked 2014–2015', 'unity3d', 'uframe', 'spine'],
      ['employment', 'unity', 'unity', 'unity'],
      'My Little Pony and Rayman Legends crossover game. Features cool graphics',
      'http://raycordlegends.com',
      'raycordlegends.com',
      'https://youtu.be/8B8y9jDU9Jw',
      'YouTube'
  ) }}

  {{ item(
      'MARS 2000',
      ['freelance', 'unity3d', 'steam greenlight'],
      ['employment', 'unity', 'steam'],
      'Top-down oldschool shooter',
      'https://vk.com/mars_2k',
      'VK'
  ) }}

  {{ item(
      'Let\'s nuke them',
      ['in development', 'cocos2d-x', 'coffeescript'],
      ['employment', 'cocos', 'coffee'],
      'Strategy game'
  ) }}

  {{ item(
      'Kaniku',
      ['open source', 'cocos2d-x', 'coffeescript'],
      ['oss', 'cocos', 'coffee'],
      'MVC microframework for cocos2d-x javascript games',
      'https://github.com/reo7sp/kaniku',
      'GitHub',
      'https://www.npmjs.com/package/kaniku',
      'npm'
  ) }}

  {{ item(
      'Cocos starter kit',
      ['open source', 'yeoman', 'cocos2d-x', 'coffeescript', 'gulp'],
      ['oss', 'yeoman', 'cocos', 'coffee', 'gulp'],
      'Boilerplate for cocos2d-x javascript games',
      'https://github.com/reo7sp/cocos-starter-kit',
      'GitHub'
  ) }}
</ul>

<h3>Web development</h3>
<ul class="work">
  {{ item(
      'ATK Gloria',
      ['working since 2013', 'website', 'ruby'],
      ['employment', 'site', 'ruby'],
      'Website of travel company in Nizhny Novgorod',
      'http://gloria-nnov.ru',
      'gloria-nnov.ru'
  ) }}

  {{ item(
      'Thylogale',
      ['web app', 'open source', 'ruby', 'rails'],
      ['webapp', 'oss', 'ruby', 'rails'],
      'Content management system for static sites',
      'https://github.com/reo7sp/thylogale',
      'GitHub'
  ) }}

  {{ item(
      'Reo web starter kit',
      ['open source', 'yeoman', 'gulp'],
      ['oss', 'yeoman', 'gulp'],
      'Boilerplate for sites',
      'https://github.com/reo7sp/reo-web-starter-kit',
      'GitHub'
  ) }}
</ul>

<h3>Tools &amp; Misc</h3>
<ul class="work">
  {{ item(
      'tgbot-cpp',
      ['open source', 'c++', 'boost', 'boost asio'],
      ['oss', 'cpp', 'cpp', 'cpp'],
      'C++ library for Telegram bot API',
      'https://github.com/reo7sp/tgbot-cpp',
      'GitHub',
      null,
      null,
      null,
      null,
      60
  ) }}

  {{ item(
      'coffeescript-accessors',
      ['open source', 'coffeescript'],
      ['oss', 'coffee'],
      'Fancy getter and setter generation in CoffeeScript',
      'https://github.com/reo7sp/coffeescript-accessors',
      'GitHub',
      'https://www.npmjs.com/package/coffeescript-accessors',
      'npm'
  ) }}

  {{ item(
      'BoardPP',
      ['open source', 'scala', 'libgdx'],
      ['oss', 'scala', 'libgdx'],
      'Interactive virtual writing board',
      'https://github.com/reo7sp/BoardPP',
      'GitHub'
  ) }}

  {{ item(
      'Socn',
      ['open source', 'java'],
      ['oss', 'java'],
      'VK and Twitter desktop notifications',
      'https://github.com/reo7sp/Socn',
      'GitHub'
  ) }}

  {{ item(
      'dokku-mariadb-sc',
      ['open source', 'bash', 'dokku', 'docker'],
      ['oss', 'bash', 'dokku', 'docker'],
      'MariaDB in single container Dokku plugin',
      'https://github.com/reo7sp/dokku-mariadb-sc',
      'GitHub'
  ) }}

  {{ item(
      'phabricator-docker',
      ['open source', 'bash', 'docker'],
      ['oss', 'bash', 'docker'],
      'Docker image for Phabricator',
      'https://github.com/reo7sp/phabricator-docker',
      'GitHub'
  ) }}

  {{ item(
      'SBF Bukkit Plugin',
      ['open source', 'java'],
      ['oss', 'java'],
      'SBF Minecraft server\'s plugin',
      'https://github.com/reo7sp/SBF-Bukkit-Plugin',
      'GitHub'
  ) }}

  {{ item(
      'ReoVimRC',
      ['open source', 'vim'],
      ['oss', 'vim'],
      'Vim config',
      'https://github.com/reo7sp/ReoVimRC',
      'GitHub'
  ) }}
</ul>

<div class="work-github">
  <img class="contacts-links__icon" src="images/icons/github.png" alt="GitHub">
  <a class="contacts-links__link" target="_blank" href="https://github.com/reo7sp">See full list of my open source projects on GitHub</a>
</div>
