{% macro item(title, labels, labelsClass, description, link, linkTitle, secondLink, secondLinkTitle, thirdLink, thirdLinkTitle, githubStarCount) %}
  <li class="work__list-elem work-item">
    <div class="work-item__title">{{ title }}</div>
    <div class="work-item__info-labels">
      {%- for i in range(0, labels | length) -%}
        <div class="work-item__info-label work-item__info-label_{{ labelsClass[i] }}">{{ labels[i] }}</div>
      {%- endfor -%}
    </div>
    {% if description %}
      <div class="work-item__description">{{ description }}</div>
    {% endif %}
    <div class="work-item__links">
      {% if link %}
        <a class="work-item__link" target="_blank" href="{{ link }}">{{ linkTitle }}</a>
      {% endif %}
      {% if secondLink %}
        <a class="work-item__link" target="_blank" href="{{ secondLink }}">{{ secondLinkTitle }}</a>
      {% endif %}
      {% if thirdLink %}
        <a class="work-item__link work-item__link--third" target="_blank" href="{{ thirdLink }}">{{ thirdLinkTitle }}</a>
      {% endif %}
      {% if githubStarCount %}
      <span class="work-item__stat">
        <svg aria-label="stars" height="18" role="img" version="1.1" viewBox="0 -4 14 18" width="14"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path></svg>{{ githubStarCount }}+
      </span>
      {% endif %}
    </div>
  </li>
{% endmacro %}


<a name="work"></a>
<h2>My portfolio</h2>

<div class="work-nav__gotos">
  <a class="work-nav__goto" href="#work-gamedev">↓ go to gamedev</a>
  <a class="work-nav__goto" href="#work-webdev">↓ go to web</a>
</div>

<a name="work-science"></a>
<h3>Science</h3>
<ul class="work">
  {{ item(
      'Voice to vector',
      ['neural networks', 'voice processing', 'python', 'theano', 'lasagne'],
      ['science', 'science', 'python', 'python', 'python'],
      'Transforming voices to vectors so they be comparable',
      'https://github.com/xenx/speech',
      'GitHub',
      'http://www.slideshare.net/OlegMorozenkov/speechlock-voice-to-vector-voice-similarity',
      'SlideShare'
  ) }}

  {{ item(
      'Face3dMatch',
      ['computer vision', '3d reconstruction', 'scala', 'android'],
      ['science', 'science', 'scala', 'android'],
      'Authorization using a 3d model of the face',
      'https://github.com/reo7sp/Face3dMatch',
      'GitHub'
  ) }}

  <br>

  {{ item(
      'GoToHack2\'s project',
      ['hackathon', 'natural text processing', 'python'],
      ['employment', 'science', 'python'],
      'Case by MTS company: prediction of post popularity in VK group of TalentEdme project',
      'http://www.slideshare.net/OlegMorozenkov/gotohack2-data-science-hackathon',
      'SlideShare',
      'https://github.com/reo7sp/GoToHack2',
      'GitHub',
      'images/certificates/gotohack2.jpg',
      'Winner certificate'
  ) }}

  <br>

  {{ item(
      'WaveFourierTransformTest',
      ['physics',  'scala'],
      ['science',  'scala'],
      'Fourier transform of a wave moving in time research',
      'https://github.com/reo7sp/FourierTransformTest',
      'GitHub'
  ) }}

  {{ item(
      'WaveTest',
      ['physics',  'scala'],
      ['science',  'scala'],
      'Monochromatic waves moving in time research',
      'https://github.com/reo7sp/WaveTest',
      'GitHub'
  ) }}

  {{ item(
      'MagneticTest',
      ['physics',  'c', 'opengl'],
      ['science',  'cpp', 'opengl'],
      'Magnetic field research',
      'https://github.com/reo7sp/MagneticTest',
      'GitHub'
  ) }}
</ul>

<a name="work-gamedev"></a>
<a class="work-nav__up" href="#work">↑ up</a>
<h3>Gamedev</h3>
<ul class="work">
  {{ item(
      'Raycord Legends',
      ['worked 2014–2015', 'game', 'unity3d', 'uframe', 'spine'],
      ['employment', 'game', 'unity', 'unity', 'unity'],
      'Rayman Legends and My Little Pony crossover game. Features cool graphics',
      'http://raycordlegends.com',
      'raycordlegends.com',
      'https://youtu.be/8B8y9jDU9Jw',
      'YouTube'
  ) }}

  {{ item(
      'MARS 2000',
      ['freelance', 'game', 'unity3d', 'steam greenlight'],
      ['employment', 'game', 'unity', 'steam'],
      'Top-down oldschool shooter',
      'https://vk.com/mars_2k',
      'VK'
  ) }}

  {{ item(
      'Let\'s nuke them',
      ['in development', 'game', 'cocos2d-x', 'coffeescript'],
      ['employment', 'game', 'cocos', 'coffee'],
      'Strategy game'
  ) }}

  <br>

  {{ item(
      'Kaniku',
      ['cocos2d-x', 'coffeescript'],
      ['cocos', 'coffee'],
      'MVC microframework for cocos2d-x javascript games',
      'https://github.com/reo7sp/kaniku',
      'GitHub',
      'https://www.npmjs.com/package/kaniku',
      'npm'
  ) }}
</ul>

<a name="work-webdev"></a>
<a class="work-nav__up" href="#work">↑ up</a>
<h3>Web</h3>
<ul class="work">
  {{ item(
      'ATK Gloria',
      ['working since 2013', 'website', 'ruby'],
      ['employment', 'site', 'ruby'],
      'Website of travel company in Nizhny Novgorod',
      'http://gloria-nnov.ru',
      'gloria-nnov.ru'
  ) }}

  {{ item(
      'Thylogale',
      ['web app',  'ruby', 'rails'],
      ['webapp',  'ruby', 'rails'],
      'Content management system for static sites',
      'https://github.com/reo7sp/thylogale',
      'GitHub'
  ) }}
</ul>

<a name="work-tools"></a>
<a class="work-nav__up" href="#work">↑ up</a>
<h3>Misc</h3>
<ul class="work">
  {{ item(
      'tgbot-cpp',
      ['c++', 'boost', 'boost asio'],
      ['cpp', 'cpp', 'cpp'],
      'C++ library for Telegram bot API',
      'https://github.com/reo7sp/tgbot-cpp',
      'GitHub',
      null,
      null,
      null,
      null,
      85
  ) }}
</ul>

<div class="github-footer">
  <p class="github-footer__first">
    <img class="contacts-links__icon" src="images/icons/github.png" alt="GitHub">
    <a class="contacts-links__link" target="_blank" href="https://github.com/reo7sp">See my open source projects on GitHub →</a>
  </p>
  <p class="github-footer__second">
    By language:
    <a target="_blank" href="https://github.com/reo7sp?utf8=✓&tab=repositories&q=&language=java">Java</a><b>,</b>
    <a target="_blank" href="https://github.com/reo7sp?utf8=✓&tab=repositories&q=&language=c%2B%2B">C++</a><b>,</b>
    <a target="_blank" href="https://github.com/reo7sp?utf8=✓&tab=repositories&q=&language=scala">Scala</a><b>,</b>
    <a target="_blank" href="https://github.com/reo7sp?utf8=✓&tab=repositories&q=&language=coffeescript">CoffeeScript</a><b>,</b>
    <a target="_blank" href="https://github.com/reo7sp?utf8=✓&tab=repositories&q=&language=jupyter%20notebook">Jupyter Notebook</a>
  </p>
</div>

<a class="work-nav__up-from-bottom" href="#work">↑ up</a>
