{% macro item(title, labels, labelsClass, description, link, linkTitle, secondLink, secondLinkTitle, thirdLink, thirdLinkTitle, githubStarCount) %}
  <li class="work__list-elem work-item">
    <div class="work-item__title">{{ title }}</div>
    <div class="work-item__info-labels">
      {%- for i in range(0, labels | length) -%}
        <div class="work-item__info-label work-item__info-label_{{ labelsClass[i] }}">{{ labels[i] }}</div>
      {%- endfor -%}
    </div>
    {% if description %}
      <div class="work-item__description">{{ description }}</div>
    {% endif %}
    <div class="work-item__links">
      {% if link %}
        <a class="work-item__link" target="_blank" href="{{ link }}">{{ linkTitle }}</a>
      {% endif %}
      {% if secondLink %}
        <a class="work-item__link" target="_blank" href="{{ secondLink }}">{{ secondLinkTitle }}</a>
      {% endif %}
      {% if thirdLink %}
        <a class="work-item__link work-item__link--third" target="_blank" href="{{ thirdLink }}">{{ thirdLinkTitle }}</a>
      {% endif %}
      {% if githubStarCount %}
      <span class="work-item__stat">
        <svg aria-label="stars" height="18" role="img" version="1.1" viewBox="0 -4 14 18" width="14"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path></svg>{{ githubStarCount }}+
      </span>
      {% endif %}
    </div>
  </li>
{% endmacro %}


<a name="work"></a>
<h2>{{ i18n.myPortfolio }}</h2>

<div class="work-nav-gotos">
  <a class="work-nav-gotos__item" href="#work-gamedev">↓ {{ i18n.goToGitHub }}</a>
  <a class="work-nav-gotos__item" href="#work-webdev">↓ {{ i18n.goToWeb }}</a>
</div>

<a name="work-science"></a>
<h3>{{ i18n.science }}</h3>
<ul class="work">
  {{ item(
      i18n.voiceToVector,
      [i18n.neuralNetworks, i18n.voiceProcessing, i18n.python, i18n.theano, i18n.lasagne],
      ['science', 'science', 'python', 'python', 'python'],
      i18n.voiceToVectorDesc,
      'https://github.com/voice2vec/SpeechLock',
      i18n.github,
      'https://www.slideshare.net/OlegMorozenkov/speechlock-voice-to-vector-voice-similarity',
      i18n.slideshare
  ) }}

  {{ item(
      i18n.face3dMatch,
      [i18n.computerVision, i18n.dreconstruction, i18n.scala, i18n.android],
      ['science', 'science', 'scala', 'android'],
      i18n.face3dMatchDesc,
      'https://github.com/reo7sp/Face3dMatch',
      i18n.github
  ) }}

  {{ item(
      i18n.gotohack2,
      [i18n.hackathon, i18n.naturalTextProcessing, i18n.python, i18n.vkApi],
      ['employment', 'science', 'python', 'vk'],
      i18n.gotohack2Desc,
      'https://github.com/reo7sp/vk-text-likeness',
      i18n.github,
      'https://www.slideshare.net/OlegMorozenkov/gotohack2-data-science-hackathon',
      i18n.slideshare,
      'images/certificates/gotohack2.jpg',
      i18n.winnerCertificate
  ) }}

  {{ item(
      i18n.movieRecommend,
      [i18n.recommenderSystem, i18n.python],
      ['science', 'python'],
      i18n.movieRecommendDesc,
      'https://github.com/reo7sp/GoToSchool2016-TestTask',
      i18n.github
  ) }}
</ul>

<a name="work-gamedev"></a>
<a class="work-nav-up" href="#work">↑ {{ i18n.up }}</a>
<h3>{{ i18n.gamedev }}</h3>
<ul class="work">
  {{ item(
      i18n.raycord,
      [i18n.worked + ' 2014–2015', i18n.game, i18n.unity3d, i18n.uframe, i18n.spine],
      ['employment', 'game', 'unity', 'unity', 'unity'],
      i18n.raycordDesc,
      'https://raycordlegends.com',
      'raycordlegends.com',
      'https://youtu.be/8B8y9jDU9Jw',
      i18n.youTube
  ) }}

  {{ item(
      i18n.mars2000,
      [i18n.freelance, i18n.game, i18n.unity3d, i18n.steamGreenlight],
      ['employment', 'game', 'unity', 'steam'],
      i18n.mars2000Desc,
      'https://vk.com/mars_2k',
      vk
  ) }}

  {{ item(
      i18n.letsNukeThem,
      [i18n.inDev, i18n.game, i18n.cocos2d, i18n.coffeescript],
      ['employment', 'game', 'cocos', 'coffee'],
      i18n.letsNukeThemDesc
  ) }}

  <br>

  {{ item(
      i18n.kaniku,
      [i18n.framework, i18n.cocos2d, i18n.coffeescript],
      ['lib', 'cocos', 'coffee'],
      i18n.kanikuDesc,
      'https://github.com/reo7sp/kaniku',
      i18n.github,
      'https://www.npmjs.com/package/kaniku',
      i18n.npm,
      'https://github.com/reo7sp/cocos-starter-kit',
      i18n.starterKit
  ) }}
</ul>

<a name="work-webdev"></a>
<a class="work-nav-up" href="#work">↑ {{ i18n.up }}</a>
<h3>{{ i18n.web }}</h3>
<ul class="work">
  {{ item(
      i18n.atkGloria,
      [i18n.workingSince + ' 2013', i18n.website, i18n.ruby],
      ['employment', 'site', 'ruby'],
      i18n.atkGloriaDesc,
      'https://gloria-nnov.ru',
      'gloria-nnov.ru'
  ) }}

  {{ item(
      i18n.thylogale,
      [i18n.webApp, i18n.ruby, i18n.rails],
      ['webapp',  'ruby', 'rails'],
      i18n.thylogaleDesc,
      'https://github.com/reo7sp/thylogale',
      i18n.github
  ) }}
</ul>

<a name="work-tools"></a>
<a class="work-nav-up" href="#work">↑ {{ i18n.up }}</a>
<h3>{{ i18n.misc }}</h3>
<ul class="work">
  {{ item(
      i18n.tgbotCpp,
      [i18n.library, i18n.cpp, i18n.boost, i18n.boostAsio, i18n.telegramApi],
      ['lib', 'cpp', 'cpp', 'cpp', 'telegram'],
      i18n.tgbotCppDesc,
      'https://github.com/reo7sp/tgbot-cpp',
      i18n.github,
      null,
      null,
      null,
      null,
      90
  ) }}

  {{ item(
      i18n.vkChannelify,
      [i18n.bot, i18n.python, i18n.telegramApi, i18n.vkApi],
      ['bot', 'python', 'telegram', 'vk'],
      i18n.vkChannelifyDesc,
      'https://github.com/reo7sp/vk-channelify',
      i18n.github,
      'https://t.me/vk_channelify_bot',
      '@vk_channelify_bot'
  ) }}
</ul>

<div class="github-footer">
  <p class="github-footer__first">
    <img class="contacts-links__icon" src="images/icons/github.png" alt="GitHub">
    <a class="contacts-links__link" target="_blank" href="https://github.com/reo7sp">{{ i18n.seeGitHub }} →</a>
  </p>
  <p class="github-footer__second">
    {{ i18n.byLang }}:
    <a target="_blank" href="https://github.com/reo7sp?utf8=✓&tab=repositories&q=&language=java">Java</a><b>,</b>
    <a target="_blank" href="https://github.com/reo7sp?utf8=✓&tab=repositories&q=&language=c%2B%2B">C++</a><b>,</b>
    <a target="_blank" href="https://github.com/reo7sp?utf8=✓&tab=repositories&q=&language=go">Go</a><b>,</b>
    <a target="_blank" href="https://github.com/reo7sp?utf8=✓&tab=repositories&q=&language=python">Python</a><b>,</b>
    <a target="_blank" href="https://github.com/reo7sp?utf8=✓&tab=repositories&q=&language=jupyter%20notebook">Jupyter Notebook</a>
  </p>
</div>

<a class="work-nav-up-from-bottom" href="#work">↑ {{ i18n.up }}</a>
