{% extends 'templates/_base.html' %}

{% block body %}


<div class="container">
  <header>
    <h1>Oleg Morozenkov</h1>
    <h4>@reo7sp</h4>
  </header>

  <section class="section-with-margin">
    {% include 'partials/_contacts.html' %}
  </section>

  <section class="section-with-margin">
    {% include 'partials/_work.html' %}
  </section>

  <aside>
    <small class="visible-md gray">Open this page on desktop to see giraffe with cool parallax effect</small>
  </aside>
</div>


{% endblock %}
