{% extends 'templates/_base.html' %}


{% block title %}Oleg Morozenkov{% endblock %}


{% block body %}


<div class="container">
  <header>
    <a href="https://reo7sp.ru" no-printable-links class="header-site-link">reo7sp.ru</a>
    <h1>Oleg<span class="break-on-mobile"> </span>Morozenkov</h1>
    <p>@<b>reo7sp</b></p>
  </header>

  <section class="section-with-margin">
    {% include 'partials/_contacts.html' %}
  </section>

  <section class="section-with-margin">
    {% include 'partials/_education.html' %}
  </section>

  <section class="section-with-margin">
    {% include 'partials/_work.html' %}
  </section>

  <aside class="giraffe-background-notice">
    <small class="visible-md gray">Open this page on desktop to see giraffe with cool parallax effect</small>
  </aside>
</div>


{% endblock %}
