.employment {
    &__title {
        margin: 0;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    &__list {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }
}

.employment-item {
    &__header {
        position: relative;
        height: 36px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    &__logo {
        position: absolute;
        width: 36px;
        height: 36px;
    }

    &__title {
        position: absolute;
        top: -2px;
        left: 44px;
    }

    &__link {
        margin-left: 18px;
    }

    &__text {
        margin: 0 0 0 44px;
    }

    &__info-labels {
        margin-left: 40px;
        margin-top: -2px;
        margin-bottom: 2px;
    }

    &__info-label {
        display: inline-block;
        margin-left: 4px;
        line-height: 1em;
        color: #222;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 3px 9px;

        &--golang {
            color: #0069cc;
        }

        &--tarantool {
            color: #e00000;
        }

        &--postgresql {
            color: #266692;
        }

        &--fasthttp {
            color: #0069cc;
        }

        &--rpm {
            color: #010101;
        }

        &--python {
            color: #3c89c3;
        }

        &--tensorflow {
            color: #ff8804;
        }

        &--keras {
            color: #d00000;
        }

        &--mongodb {
            color: #3e9e31;
        }
    }
}
