<section class="section-with-margin section-with-margin">
    <ul class="contacts-links">
        <li class="contacts-links__item contacts-links__item--github">
            <img class="contacts-links__icon" src="/images/icons/github.png" alt="GitHub">
            <a class="contacts-links__link contacts-links__link--github" target="_blank" href="https://github.com/reo7sp">Гитхаб</a>
        </li>
        <li class="contacts-links__item">
            <img class="contacts-links__icon" src="/images/icons/telegram.png" alt="Telegram">
            <a class="contacts-links__link" target="_blank" href="https://t.me/reo7sp">Телеграм</a>
        </li>
        <li class="contacts-links__item">
            <img class="contacts-links__icon" src="/images/icons/vk.png" alt="VK">
            <a class="contacts-links__link" target="_blank" href="https://vk.com/reo7sp">ВК</a>
        </li>
        <li class="contacts-links__item">
            <img class="contacts-links__icon" src="/images/icons/facebook.png" alt="Facebook">
            <a class="contacts-links__link" target="_blank" href="https://facebook.com/reo7sp">Фейсбук</a>
        </li>
        <li class="contacts-links__item">
            <img class="contacts-links__icon" src="/images/icons/skype.png" alt="Skype">
            <a class="contacts-links__link" target="_blank" href="skype:reo_sp?add">Скайп</a>
        </li>
        <li class="contacts-links__item">
            <img class="contacts-links__icon" src="/images/icons/mail.png" alt="Email">
            <a class="contacts-links__link" target="_blank" href="&#109;&#097;&#105;&#108;&#116;&#111;:&#109;&#064;&#111;&#108;&#101;&#103;&#046;&#114;&#111;&#099;&#107;&#115;">&#109;&#064;&#111;&#108;&#101;&#103;&#046;&#114;&#111;&#099;&#107;&#115;</a>
        </li>
    </ul>
</section>
