<section class="section-with-margin activity">
    <h2 class="activity__title">Деятельность</h2>

    <ul class="activity__list">
        <li class="activity-item">
            <p class="activity-item__text"><strong>Менторство в Технопарке Mail.Ru</strong></p>
            <p class="activity-item__additional-text">Фронтенд, фев 2018 – текущее время.</p>
        </li>
    </ul>
</section>