.work {
    @media screen {
        max-width: 576px;
    }

    &__title {
        margin: 0;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    &__subtitle {
        margin: 0;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    &__list {
        margin: 0;
    }
}

.work-item {
    margin: 0;

    &__title {
        font-weight: bold;

        &--hidden {
            display: inline-block;
            width: 210px;
            height: 21px;
            margin-bottom: -3px;
            background-color: #333;
            color: #333;
        }
    }

    &__info-labels {
        margin-left: 6px;

        @media (max-width: 992px) {
            display: block;
            margin-left: 8px;
        }
    }

    &__info-label {
        display: inline-block;
        margin-left: 4px;
        line-height: 1em;
        color: #222;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 3px 9px;
        print-color-adjust: exact; 
        -webkit-print-color-adjust: exact; 

        &--first {
            color: #9c27b0;
            font-style: oblique;
        }

        &--second {
            color: #e04c1e;
            font-style: oblique;
        }

        &--third {
            color: #da8735;
            font-style: oblique;
        }

        &--python {
            color: #3c89c3;
        }

        &--cpp {
            color: #0054a0;
        }

        &--telegram {
            color: #3c89c3;
        }

        &--vk {
            color: #3c89c3;
        }

        &--unity {
            color: #00b37d;
        }

        &--steam {
            color: #669900;
        }
    }

    &__description {
        margin-left: 12px;

        @media (min-width: 992px) and (max-width: 1300px) {
            text-shadow: 0 0 6px white, 0 0 6px white, 0 0 6px white;
        }
    }

    &__links {
    }

    &__links-entry {
        margin-left: 12px;
        display: inline-block;
    }
}

.work-item-stat {
    color: #d29b00;
    fill: #d29b00;

    &__double-star {
        margin-left: -4px;
    }

    &__count {
        margin-left: -2px;
    }
}

.github-footer {
    &__first {
        margin: 0;
    }

    &__second {
        margin: 0;
        margin-left: 36px;
    }
}

.extra-footer {
    @media print {
        display: none;
    }
}