<header class="page-header">
    <a class="page-header__link" href="https://oleg.rocks" data-no-printable-links>oleg.rocks</a>

    <h1 class="page-header__title"><%- i18n.oleg %><span class="break-on-mobile"> </span><%- i18n.morozenkov %></h1>

    <p class="page-header__subtitle"><%- i18n.subtitle %></p>
    <p class="page-header__language-switcher">
        <%- i18n.language %>: <a href="/en.html" data-no-printable-links>English</a> | <a href="/" data-no-printable-links>Русский</a></p>
    </p>
</header>