<header class="page-header">
    <a class="page-header__link" href="https://oleg.rocks" data-no-printable-links>oleg.rocks</a>
    <h1 class="page-header__title">Олег<span class="break-on-mobile"> </span>Морозенков</h1>
</header>